{% extends 'portfolio/' ~ design ~'/base.html.twig' %}

{% block title %}
	Vidéos -
	{{ book.getTitle() ? book.getTitle() : book.user.getFullname() }}
{% endblock %}

{% block description %}
	Vidéos -
	{{ book.getDescription() | raw }}
	-
	{{ book.user.getFullname() }}
{% endblock %}

{% block body %}
	<div class="col-lg-12">
		<div id="portfolioVideo"></div>
	</div>
{% endblock %}
