<div class="row">
	<div class="col-12">
		<div class="text">
			<p>{{ gallery.getDescription() | raw }}</p>
		</div>
		<h4 class="title">Accès protégé par mot de passe</h4>
		<p class="text-muted">Pour des raisons de sécurité et de confidentialité, l'accès à la cette galerie est protégé par un mot de passe.</p>
		{{ form_start(form, {'attr': {'class':'needs-validation','novalidate': 'novalidate'}}) }}
		<div id="contact">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<span class="">
						{{ form_widget(form.passwordHash, {'attr': {'placeholder': 'Saisissez le mot de passe'}}
						) }}
					</span>
					<input type="submit" value="Valider" class="btn" id="submit"/>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
</div>
