{% extends 'base.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="section">
			<div class="w-layout-grid product5-grid">
				<div id="w-node-7281d808904a-612a1c64" class="product5-nav-wrap">
					<div class="product5-nav-items-wrap">
						<h1 class="heading-title">Annuairse des books</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
