{% extends 'base.html.twig' %}
{% block title %}
	{{"Signaler-nous un bug ou des idées - Bug | Book-folio.fr" | trans }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="section">
			<div class="w-layout-grid content6-grid">
				<div id="w-node-7c0094a6f1d0-1d66b6dc" class="content6-headline-grid">
					<div id="w-node-7c0094a6f1d1-1d66b6dc" class="content6-headline-wrap">
						<h1>bug</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
