{% extends 'base.html.twig' %}
{% block title %}
	{{"Nos coups de cœur photographique – Bookfolio" | trans }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="section">
			<div class="w-layout-grid content6-grid">
				<div id="w-node-753bf6c80bd0-f7ec6531" class="content6-headline-grid">
					<div id="w-node-753bf6c80bd1-f7ec6531" class="content6-headline-wrap">
						<h1 class="text-center top-clear">{{"Nos coups de cœur" | trans}}</h1>
						<h6 class="text-center top-clear">{{"Nous avons sélectionné pour vous, les meilleurs clichés du moment publiés par les artistes talentueux de la communauté Bookfolio." | trans}}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper m0-100">
		<div class="section">
			<div id="inspirations"></div>
		</div>
	</div>

{% endblock %}
