{% extends 'base.html.twig' %}
{% block title %}
	{{"Politique de confidentialité - Politicy | book-folio.fr" | trans }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="section">
			<div class="w-layout-grid content6-grid">
				<div id="w-node-7c0094a6f1d0-53ceccce" class="content6-headline-grid">
					<div id="w-node-7c0094a6f1d1-53ceccce" class="content6-headline-wrap">
						<div class="size1-text">Politique
							<br>de confidentialité</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper m0-100">
		<div class="section">
			<div class="w-layout-grid content16-grid">
				<div id="w-node-6b143b24dfb5-53ceccce">
					<h3>Collecte des renseignements personnels</h3>
					<p class="paragraph-70">Nous collectons les renseignements suivants :<br>nom, prénom, adresse électronique, genre / Sexe, âge, date de naissance, profession, description physique, code postal. Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l&#x27;interactivité établie entre vous et notre site Web. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.</p>
					<h3>Formulaires et interactivité</h3>
					<p class="paragraph-70">Formulaire d&#x27;inscription au site Web. Nous utilisons les renseignements ainsi collectés pour les finalités suivantes : Statistiques, contact, vos renseignements sont également collectés par le biais de l&#x27;interactivité pouvant s&#x27;établir entre vous et notre site Web et ce, de la façon suivante : Contact. Nous utilisons les renseignements ainsi collectés pour les finalités suivantes : commentaires</p>
					<h3>Droit d&#x27;opposition et de retrait :</h3>
					<p class="paragraph-70">Nous nous engageons à vous offrir un droit d&#x27;opposition et de retrait quant à vos renseignements personnels. Le droit d&#x27;opposition s&#x27;entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.<br>Pour exercer ces droits, vous pouvez nous contacter sur infobookfolio@gmail.com</p>
					<h3>Droit d&#x27;accès</h3>
					<p class="paragraph-70">Nous nous engageons à reconnaître un droit d&#x27;accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier, les informations les concernant.</p>
					<h3>Sécurité</h3>
					<p class="paragraph-70">Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations. Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes : Sauvegarde informatique et identifiant / mot de passe. Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d&#x27;assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n&#x27;offre une sécurité maximale, une part de risque est toujours présente lorsque l&#x27;on utilise Internet pour transmettre des renseignements personnels.</p>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
