{% extends 'base.html.twig' %}
{% block title %}
	{{"Comprendre le fonctionnement de Bookfolio - Comment ça marche ? | Book-folio.fr" | trans }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="section">
			<div class="w-layout-grid content6-grid">
				<div id="w-node-7c0094a6f1d0-1d66b6dc" class="content6-headline-grid">
					<div id="w-node-7c0094a6f1d1-1d66b6dc" class="content6-headline-wrap">
						<h1>Comment ça marche ?</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper m0-100">
		<div class="section">
			<div class="w-layout-grid content16-grid">
				<div id="w-node-6b143b24dfb5-1d66b6dc">
					<h3>Principe</h3>
					<p class="paragraph-70">book-folio.fr est une plateforme web qui permet, non seulement, à des photographes de trouver des modèles et aux modèles des photographes, mais aussi à de nombreux artistes de partager leur talent. Chaque inscrit pourra bénéficier d&#x27;un propre espace Web qui lui permettra de mettre en ligne des galeries, photos et informations sur sa passion ou même son travail...<br><br>book-folio.fr est essentiellement axé sur le monde profesionnel de la photo mais peut être adapté.<br>Grâce à book-folio, vous aurez non seulement la possibilité de contacter des modèles ou des photographes mais aussi de partager votre passion grâce à un système de communauté en ligne. En effet, celui-ci vous donne la possibilité d&#x27;ajouter les artistes qui vous passionnent, à travers leurs réalisations, dans vos favoris et, par ce fait, interagir avec eux via la messagerie privée et bien plus encore !<br><br>Votre book vous permettra de mettre en valeur vos travaux. En naviguant sur votre book, les internautes accèdent directement aux dernières photos que vous avez publiées! Ils ont aussi la possibilité de voir vos derniers albums, les commentaires des personnes qui ont signé votre book ou encore votre présentation afin de mieux vous connaitre.<br><br>Votre book est accessible via l&#x27;adresse : pseudo.book-folio.fr. Grâce aux paramètres de compte, vous avez la possibilité d&#x27;indiquer aux internautes le lien de vos réseaux sociaux favoris tels que : Facebook, Twitter, Google +, Tumblr ...<br>Vous êtes libre de publier ce que vous souhaitez publier sur votre book. Néanmoins, nous veillons à ce que votre book respecte bel et bien les conditions générales d&#x27;utilisation du site !<br><br>Bookfolio utilise Google Analytics, un service d&#x27;analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers-texte placés sur votre ordinateur, pour aider le site internet à analyser l&#x27;utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats- Unis. Google utilisera cette information dans le but d&#x27;évaluer votre utilisation du site, de compiler des rapports sur l&#x27;activité du site à destination de son éditeur et de fournir d&#x27;autres services relatifs à l&#x27;activité du site et à l&#x27;utilisation d&#x27;Internet. Google est susceptible de communiquer ces données à des tiers en cas d&#x27;obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l&#x27;éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l&#x27;utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l&#x27;utilisation de certaines fonctionnalités de ce site. En utilisant book-folio, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites dans les C.G.U.<br></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
