<div class="card p-3 border">
	<i class="fe-alert-circle font-28 text-danger"></i>
	<h4 class="text-dark">Vous avez épuisé la totalité de vos crédits que vous disposez ce mois.</h4>
	<p>
		Votre compte sera recrédité dès le mois prochain.<br>
		Toute fois, si vous ne souhaitez pas patienter, vous avez toujours la possibilité de changer votre offre d'abonnement qui vous permettra de publier plus de photos.</p>
	<a href="{{ path('pricing_show') }}" class="btn btn-custom text-white">Consulter nos offres</a>
</div>
