<div class="col-6">
	<h4>Accès protégé par mot de passe</h4>
	<div class="margin-b24">
		<p class="text-muted">Pour des raisons de sécurité et de confidentialité, l'accès à la cette galerie est protégé par un mot de passe.</p>
	</div>
	{{ form_start(form, {'attr': {'class':'needs-validation','novalidate': 'novalidate'}}) }}
	<div class="margin-b24">
		{{ form_widget(form.passwordHash, {'attr': {'class':'comm-field','placeholder': 'Saisissez le mot de passe'}}
		) }}
	</div>
	<p>
		<input type="submit" value="Valider" id="submit"/>
	</p>
	{{ form_end(form) }}
</div>
