<div class="text">
	<p>{{ gallery.getDescription() | raw }}</p>
</div>
<h4 class="title">Accès protégé par mot de passe</h4>
<p class="text-muted">Pour des raisons de sécurité et de confidentialité, l'accès à la cette galerie est protégé par un mot de passe.</p>
{{ form_start(form, {'attr': {'class':'comment-form contact needs-validation','novalidate': 'novalidate'}}) }}
<div id="contact">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="contact-item form-name">
				{{ form_widget(form.passwordHash, {'attr': {'placeholder': 'Saisissez le mot de passe'}}
				) }}
			</div>
			<div class="contact-item form-submit">
				<input name="submit" id="submit" class="submit" value="Accéder aux publications" type="submit">
			</div>

		</div>
	</div>
</div>
{{ form_end(form) }}
