<h4 class="title">Accès protégé par mot de passe</h4>
<p class="text-muted">Pour des raisons de sécurité et de confidentialité, l'accès à la cette galerie est protégé par un mot de passe.</p>
{{ form_start(form, {'attr': {'class':'wpcf7-form js-contact-form needs-validation','novalidate': 'novalidate'}}) }}
<div class="contact-form container-fluid no-padd-md">
	<div id="contact">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<span class="wpcf7-form-control-wrap">
					{{ form_widget(form.passwordHash, {'attr': {'placeholder': 'Saisissez le mot de passe'}}
					) }}
				</span>
				<input type="submit" value="Valider" class="wpcf7-form-control wpcf7-submit submit button" id="submit"/>
			</div>
		</div>
	</div>
</div>
{{ form_end(form) }}
