{% extends 'portfolio/' ~ design ~'/base.html.twig' %}
{% block body %}
	<div class="light-wrapper">
		<div class="container-fluid tp0">
			<div id="portfolioImagesHome"></div>
			<div class="row">
				{% if showGallery %}
					{% include 'portfolio/partial/link_gallery.html.twig' with {'book': book,'col':'col-lg-4 col-lg-offset-4'} %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
